<!-- Imports -->
@using AP.WebApp.Sections.Layouts.AdminPanelLayouts

<!-- Page Defintions --> 
@page "/admin/settings"
@layout AdminLayout

<div class="inner-container">
    <h1>TO DO: Settings Page</h1>
</div>

@code {

}
