<!-- Imports -->
@using AP.WebApp.Components.Items
@using AP.WebApp.Components.Layouts

<!-- Page Definitions --> 
@page "/"


<div class="page-container">

     <!-- Banner -->
    <Banner></Banner>
    <NavMenu />

    <div class="main-container">
        <h1>Welcome Home!</h1>
    </div>

</div>