/* _content/AP.WebApp/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-wdlert2h60] {
    width: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container[b-wdlert2h60] {
    flex: 1;
}

#blazor-error-ui[b-wdlert2h60] {
    display: none;
}
/* _content/AP.WebApp/Components/Layout/NavMenu.razor.rz.scp.css */
.header-container[b-3t6m41jbm5] {
    background-color: #2b2e40;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    align-items: center;
}

.logo-container a[b-3t6m41jbm5] {
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

.nav-container[b-3t6m41jbm5] {
    display: flex;
}

.nav-item[b-3t6m41jbm5] {
    margin: 2rem;
    color: white;
}

/* _content/AP.WebApp/Components/Pages/ProductManager/ViewProducts/ViewProductsComponent.razor.rz.scp.css */
