.inner-container[b-v8m8nnl2az] {
    height: 100%;
}

.title-container[b-v8m8nnl2az] {
    padding: 1.4rem 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.title-container h1[b-v8m8nnl2az] {
    font-size: 1rem;
}

.form-container[b-v8m8nnl2az] {
    padding: 1rem 2rem;
    width: 50%;
    background-color: #eee;
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0.5rem;
}

.form-item[b-v8m8nnl2az] {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.form-item label[b-v8m8nnl2az] {
    margin: 0.5rem 0 0.25rem 0;
}

.form-item[b-v8m8nnl2az]  input {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid rgba(0,0,0,0.2);
}


.button-container button[b-v8m8nnl2az] {
    background-color: var(--tea-green);
    padding: 0.7rem;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    border: none;
}   

.button-container a[b-v8m8nnl2az] {
    text-decoration: underline;
    color: black;
}