
/* ---------------- Products Table ---------------- */
.products-table[b-a9uxetqid6] {
    margin-top: 1rem;
    width: 100%;
    background-color: #eee;
    border-radius: 0.25rem;
    border: 1px solid black;;
}

.products-table thead tr[b-a9uxetqid6] {
    border-bottom: 2px solid var(--van-dyke);
    width: 100%;
    display: flex;
    padding: 0.5rem 0;
}

.products-table tbody tr[b-a9uxetqid6] {
    border-bottom: 1px solid var(--van-dyke);
    width: 100%;
    display: flex;
    padding: 0.25rem 0;
}

.products-table tbody tr:last-child[b-a9uxetqid6] {
    border-bottom: 0;
}

.products-table tbody tr:nth-child(2n-1)[b-a9uxetqid6] {
    background-color: white;;
}

.products-table tr th[b-a9uxetqid6],
.products-table tr td[b-a9uxetqid6] {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-table tr th:nth-child(2)[b-a9uxetqid6],
.products-table tr td:nth-child(2)[b-a9uxetqid6] {
    justify-content: left;
    flex: 3;
}


.products-table  a[b-a9uxetqid6] {
    color: var(--van-dyke);    
}






