@page "/admin/view-products"
@layout AdminLayout


@using AP.CoreBusiness
@using AP.UseCases
@using AP.UseCases.Products.Interfaces
@using AP.WebApp.Sections.Layouts.AdminPanelLayouts
@using AP.WebApp.Sections.Pages.Admin
@using AP.WebApp.Sections.Pages.Admin.Components.ProductTable
@using AP.WebApp.Sections.Pages.Admin.Components.SearchComponent

@inject IViewProductsByNameUseCase ViewProductsByNameUseCase


<div class='inner-container'>
    <div class='page-title-container'>
        <h1>Product Manager</h1>
    </div>
    <div class='page-description-container'>
        <p>Lorem ipsum dolor</p>

        <!-- SearchComponent: Takes user input and passes it to ProductTable using EventCallback -->
        <SearchComponent OnSearch="HandleSearch"></SearchComponent>

        <!-- ProductTable: Takes parameter from SearchComponenet and uses it to filter product list --> 
        <ProductTable SearchProductFilter=@productSearchQuery></ProductTable>

        <div class="add-item-button-container">
            <button>
                <a href="/admin/add-product">Add Item</a>
            </button>
        </div>
    </div>
</div>

@code {
    private string? productSearchQuery;
    private void HandleSearch(string searchFilter) {
        productSearchQuery = searchFilter;
    }

}   
