<!-- Imports -->
@using AP.WebApp.Sections.Layouts.AdminPanelLayouts

<!-- Page Defintions --> 
@page "/admin/dashboard"
@layout AdminLayout

<div class="inner-container">
    <h1>TO DO: Dashboard Page</h1>
</div>

@code {

}
