.admin-panel-container[b-z3yyngg2j4] {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.admin-panel-content-area[b-z3yyngg2j4] {
    flex: 1;
    display: flex;
}


.admin-panel-side-bar[b-z3yyngg2j4] {
    min-width: 300px;
    background-color: #eee;
}

.side-bar-title-container[b-z3yyngg2j4] {
    padding: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
     border-bottom: 1px solid rgba(0,0,0,0.5);
}

.side-bar-title-container h1[b-z3yyngg2j4] {
    font-size: 1rem;
}

.side-bar-item[b-z3yyngg2j4] {
    padding: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

/* Normal state */
.side-bar-link[b-z3yyngg2j4] {
     color: black;
    text-decoration: none;
}

/* Hover state */
.side-bar-link:hover[b-z3yyngg2j4] {
    color: black;
    text-decoration: none;
}

/* Active state */
.side-bar-link.active[b-z3yyngg2j4] {
    color: black;
    text-decoration: none;
}

.admin-panel-content[b-z3yyngg2j4] {
    flex: 1;
}
