<!-- Imports -->
@using AP.WebApp.Sections.Items
@using AP.WebApp.Sections.Layouts
@using Microsoft.AspNetCore.Components.Routing
@inherits LayoutComponentBase

<!-- Page Definition -->
@page "/admin"

<!-- HTML -->
<div class="admin-panel-container">

    <!-- Header -->
    <HeaderMain></HeaderMain>

    <div class="admin-panel-content-area">

        <!-- Side Bar -->
        <div class="admin-panel-side-bar">
            <div class="side-bar-title-container">
                <h1>Admin Panel</h1>
            </div>
            <div class="side-bar-content-container">
                <div class="side-bar-item">
                    <a class="side-bar-link" href="/admin/dashboard">Dashboard</a>
                </div>
                <div class="side-bar-item">
                    <a class="side-bar-link" href="/admin/view-inventories">Inventories</a>
                </div>
                <div class="side-bar-item">
                    <a class="side-bar-link" href="/admin/view-products">Products</a>
                </div>
                <div class="side-bar-item">
                    <a class="side-bar-link" href="/admin/create-purchase">Purchase</a>
                </div>
                <div class="side-bar-item">
                    <a class="side-bar-link" href="/admin/create-product">Product</a>
                </div>
            </div>

        </div>

        <!-- Content Area -->
        <div class="admin-panel-content">
            @Body
        </div>


    </div>

</div>


@code {

}
