/* ---------------- Products Table ---------------- */
.inventory-table[b-388geemlwb] {
    margin: 1rem 0;
    border-radius: 0.25rem;
}

.table-row[b-388geemlwb] {
    display: flex;
    padding: 0.25rem;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.table-cell[b-388geemlwb] {
    padding: 0.75rem;
    font-weight: 700;
    text-align: center;
    flex: 1;
}

.table-cell:nth-child(2)[b-388geemlwb] {
    flex: 3;
}

.table-cell:last-child[b-388geemlwb] {
    border-right: 0;
}