<div class="header-container">









    <div class="logo-container">
        <a href="">
            <img src="assets/images/logo.png" />
        </a>
    </div>
    <div class="search-container">
        <input type="text" placeholder="Search over 20,000 products..."/>
        <button type="button"><img src="assets/icons/search.png" /></button>
    </div>
    <div class='nav-container'>
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img src="assets/icons/user.png" />
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="/counter" Match="NavLinkMatch.All">
                <img src="assets/icons/like.png" />
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img src="assets/icons/shopping-cart.png" />
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="/admin/view-inventories" Match="NavLinkMatch.All">
                <img src="assets/icons/settings.png" />
            </NavLink>
        </div>
    </div>
</div>
