<!-- Imports -->
@using AP.CoreBusiness
@using AP.UseCases.Inventories
@using AP.UseCases.Products.Interfaces
@using AP.WebApp.Sections.Layouts.AdminPanelLayouts

<!-- Injections -->
@inject IAddInventoryUseCase AddInventoryUseCase
@inject IAddProductUseCase AddProductUseCase
@inject IEditProductUseCase EditProductUseCase
@inject NavigationManager NavigationManager

<!-- Page Definitions -->
@page "/admin/add-inventory"
@layout AdminLayout

<!-- HTML -->
<div class="inner-container">
    <div class="title-container">
        <h1>Add A New Inventory</h1>
    </div>
    <div class="form-container">
    <EditForm Model="inventory" FormName="formInventory" OnValidSubmit="Save">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>

        <div class='form-item'>
            <label for="name">Inventory Name</label>
            <InputText 
                id="name"
                @bind-Value="inventory.InventoryName"
                class="form-control">
            </InputText>
            <ValidationMessage For="() => inventory.InventoryName">This field is required.</ValidationMessage>
        </div>
        <div class='form-item'>
            <label for="name">Quantity</label>
            <InputNumber 
                id="name"
                @bind-Value="inventory.Quantity"
                class="form-control">
            </InputNumber>
            <ValidationMessage For="() => inventory.Quantity"></ValidationMessage>
        </div>
        <div class='form-item'>
            <label for="name">Price</label>
            <InputNumber 
                id="name"
                @bind-Value="inventory.Price"
                class="form-control">
            </InputNumber>
            <ValidationMessage For="() => inventory.Price"></ValidationMessage>
        </div>
        <br/>
        <div class="button-container">
            <button type='submit'>Add Item</button>
            <a class="cancel-button" href="/admin/view-inventories">Cancel</a>
        </div>
    </EditForm>
    </div>
</div> 

@code {
    [SupplyParameterFromForm]
    private InventoryViewModel inventory { get; set; } = new InventoryViewModel();

    public async Task Save() {

        var inv = new Inventory {
            InventoryId = inventory.InventoryId,
            InventoryName = inventory.InventoryName,    
            Price = inventory.Price,
            Quantity = inventory.Quantity
        };

        await AddInventoryUseCase.ExecuteAsync(inv); 

        NavigationManager.NavigateTo("/admin/view-inventories");
    }
}
