.container {
    display: flex;
    flex-direction: column;
}

.container label {
    margin-bottom: 0.25rem;
}

.container input {
    padding: 0.5rem
}

.results-container {
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}

.results-container .row {
    padding: 0.5rem;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.selected,
.results-container .row:hover {
    background-color: aliceblue;
    cursor: pointer;
}
