<div class='container'>
    <label for='search'>@Label</label>
    <input 
        type="text"
        class="text-input"
        @bind-value="userInput"
        @bind-value:event="oninput"
    />
    @if (searchResults is not null && searchResults.Count > 0) {
        <div class='results-container'>
            @foreach (var res in searchResults) {
                <div @key="@res.Id" class='row'>
                    <div class='cell'>@res.Name</div>
                </div>
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public Func<string, List<ItemViewModel>>? SearchFunction { get; set; }

    private List<ItemViewModel>? searchResults = null;

    private string _userInput;
    public string userInput { 
        get => _userInput; 
        set 
        {
            this._userInput = value;
            if (!string.IsNullOrWhiteSpace(_userInput) && SearchFunction != null) {
                searchResults = SearchFunction(_userInput);
            }
            
        }
    }

    public class ItemViewModel {
        public int Id { get; set; }
        public string Name { get; set; } = string.Empty;
    }
}
