.page-container[b-g6mvksm28t] {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container[b-g6mvksm28t] {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}


#blazor-error-ui[b-g6mvksm28t] {
    display: none;
}
