.header-container {
    background-color: #2b2e40;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    align-items: center;
}

.logo-container a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

.nav-container {
    display: flex;
}

.nav-item {
    margin: 2rem;
    color: white;
}

