<div class="banner-container">
    <div class="banner-content-container">
        <div class="banner-item-container">
            <img src="assets/icons/cargo-truck.png" />
            <div class="banner-item-inner-container">
                <h5>FREE DELIVERY OVER $99*</h5>
                <h6>*Conditions Apply</h6>
            </div>
        </div>
        <div class="banner-item-container">
            <img src="assets/icons/product-return.png" />
            <div class="banner-item-inner-container">
                <h5>60 DAY RETURNS</h5>
                <h6>We're here to help</h6>
            </div>
        </div>
        <div class="banner-item-container">
            <img src="assets/icons/dollar.png" />
            <div class="banner-item-inner-container">
                <h5>PRICE MATCH PROMISE</h5>
                <h6>Shop with confidence</h6>
            </div>
        </div>
    </div>
    <div class="banner-socials-container">
        <img src="assets/icons/facebook.png" />
        <img src="assets/icons/instagram.png" />
        <img src="assets/icons/youtube.png" />
    </div>
</div>

@code {

}
