<!-- Primary Header Component -->

<!-- HTML -->
<div class="header-main-container">
    <div class="logo-container">
        <img src="assets/images/logo.png" alt="AP Logo" />
    </div>
    <div class="nav-menu-desktop">
        <a href="">Home</a>
        <a href="">Admin</a>
        <button class="header-main-sign-in">Sign In</button>
    </div>
</div>




@code {

}
