/* ---------------- Container Styles ---------------- */
.inner-container[b-ihrem29xxi] {
    flex: 1;    
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page-title-container[b-ihrem29xxi] {
    width: 100%;
    padding: 1.4rem 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.page-title-container h1[b-ihrem29xxi] {
    font-size: 1rem;
    color: #111;
}

.page-description-container[b-ihrem29xxi] {
    flex: 1;
    padding: 1rem 2rem;
}

/* ---------------- Products Table ---------------- */
.products-table[b-ihrem29xxi] {
    width: 100%;
}

.products-table thead tr[b-ihrem29xxi] {
    border-bottom: 2px solid var(--van-dyke);
    width: 100%;
    display: flex;
    padding: 0.5rem 0;
}

.products-table tbody tr[b-ihrem29xxi] {
    border-bottom: 1px solid var(--van-dyke);
    width: 100%;
    display: flex;
    padding: 0.25rem 0;
}


.products-table tr th[b-ihrem29xxi],
.products-table tr td[b-ihrem29xxi] {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-table tr th:nth-child(2)[b-ihrem29xxi],
.products-table tr td:nth-child(2)[b-ihrem29xxi] {
    justify-content: left;
    flex: 3;
}


.products-table  a[b-ihrem29xxi] {
    color: var(--van-dyke);    
}


/* ---------------- Add Item Button ---------------- */
.add-item-button-container[b-ihrem29xxi] {
    width: 100%;
    display: flex;
    padding: 1rem 0;
}

.add-item-button-container button[b-ihrem29xxi] {
    padding: 0.75rem;
    background-color: var(--tea-green);
    border-radius: 0.25rem;
    border: none;
}

.add-item-button-container button a[b-ihrem29xxi] {
    text-decoration: none;
    font-weight: 500;
    color: var(--van-dyke);
}





