/* ---------------- Container Styles ---------------- */
.inner-container[b-wjr73qdue1] {
    flex: 1;    
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page-title-container[b-wjr73qdue1] {
    width: 100%;
    padding: 1.4rem 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.page-title-container h1[b-wjr73qdue1] {
    font-size: 1rem;
    color: #111;
}

.page-description-container[b-wjr73qdue1] {
    flex: 1;
    padding: 1rem 6rem 1rem 2rem;
}

.search-container[b-wjr73qdue1] {
    width: 100%;
    display: flex;
}


.search-container img[b-wjr73qdue1] {
    max-width: 1rem;
}


/* ---------------- Add Item Button ---------------- */
.add-item-button-container[b-wjr73qdue1] {
    width: 100%;
    display: flex;
    padding: 1rem 0;
}

.add-item-button-container button[b-wjr73qdue1] {
    padding: 0.75rem;
    background-color: var(--tea-green);
    border-radius: 0.25rem;
    border: none;
}

.add-item-button-container button a[b-wjr73qdue1] {
    text-decoration: none;
    font-weight: 500;
    color: var(--van-dyke);
}

