/* _content/AP.WebApp/Sections/Items/Banner.razor.rz.scp.css */
.banner-container[b-hgmdmy1uq4] {
    width: 100%;
    background-color: var(--tea-green);
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
}

.banner-content-container[b-hgmdmy1uq4] {
    display: flex;
    padding: 0.5rem 0;
}

.banner-item-container[b-hgmdmy1uq4] {
    display: flex;
    align-items: center;
    margin: 0.25rem 1rem 0.25rem 0;
    width: max-content;
}

.banner-item-container img[b-hgmdmy1uq4] {
    max-width: 1.4rem;
    max-height: 1.4rem;
    margin-right: 1rem;
}

.banner-item-container h5[b-hgmdmy1uq4] {
    font-size: 0.8rem;
    margin: 0;
}

.banner-item-container h6[b-hgmdmy1uq4] {
    font-size: 0.6rem;
    margin: 0;
}

.banner-socials-container[b-hgmdmy1uq4] {
    display: flex;
    align-items: center;
}

.banner-socials-container img[b-hgmdmy1uq4] {
    max-width: 1rem;
    max-height: 1rem;
    margin-left: 1rem;
}


/* _content/AP.WebApp/Sections/Items/HeaderMain.razor.rz.scp.css */
.header-main-container[b-fief54coxc] {
    width: 100%;
    max-height: 6rem;
    background-color: var(--tea-green);
    padding: 0 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container img[b-fief54coxc] {
    max-width: 5rem;
}

.nav-menu-desktop[b-fief54coxc] {
    display: flex;
    align-items: center;
}

.nav-menu-desktop a[b-fief54coxc] {
    margin-left: 2rem;
    text-decoration: none;
    color: black;
    font-size: 1rem;
}


.nav-menu-desktop button[b-fief54coxc] {
    margin-left: 2rem;
    padding: 0.75rem;
    border-radius: 0.25rem;
    color: var(--timberwolf);
    background-color: var(--van-dyke);
    border: none;
}
/* _content/AP.WebApp/Sections/Layouts/AdminPanelLayouts/AdminLayout.razor.rz.scp.css */
.admin-panel-container[b-ofccq2rop8] {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.admin-panel-content-area[b-ofccq2rop8] {
    flex: 1;
    display: flex;
}


.admin-panel-side-bar[b-ofccq2rop8] {
    min-width: 300px;
    background-color: #eee;
}

.side-bar-title-container[b-ofccq2rop8] {
    padding: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.side-bar-title-container h1[b-ofccq2rop8] {
    font-size: 1rem;
}

.side-bar-item[b-ofccq2rop8] {
    padding: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

/* Normal state */
.side-bar-link[b-ofccq2rop8] {
     color: black;
    text-decoration: none;
}

/* Hover state */
.side-bar-link:hover[b-ofccq2rop8] {
    color: black;
    text-decoration: none;
}

/* Active state */
.side-bar-link.active[b-ofccq2rop8] {
    color: black;
    text-decoration: none;
}

.admin-panel-content[b-ofccq2rop8] {
    flex: 1;
}
/* _content/AP.WebApp/Sections/Layouts/Container.razor.rz.scp.css */
.page[b-nfri6d1bpw] {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container[b-nfri6d1bpw] {
    flex: 1;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #eee;
}


#blazor-error-ui[b-nfri6d1bpw] {
    display: none;
}
/* _content/AP.WebApp/Sections/Pages/Admin/Components/Common/AutoCompleteComponent.razor.rz.scp.css */
.container[b-kblm1r8piv] {
    display: flex;
    flex-direction: column;
}

.container label[b-kblm1r8piv] {
    margin-bottom: 0.25rem;
}

.container input[b-kblm1r8piv] {
    padding: 0.5rem
}

.results-container[b-kblm1r8piv] {
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}

.results-container .row[b-kblm1r8piv] {
    padding: 0.5rem;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.selected[b-kblm1r8piv],
.results-container .row:hover[b-kblm1r8piv] {
    background-color: aliceblue;
    cursor: pointer;
}
/* _content/AP.WebApp/Sections/Pages/Admin/Components/InventoryComponents/InventoryListItem.razor.rz.scp.css */
.table-row[b-35t7xfl2kj] {
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.table-cell[b-35t7xfl2kj] {
    padding: 0.75rem;
    font-weight: 500;
    text-align: center;
    flex: 1;

}

.table-cell:nth-child(2)[b-35t7xfl2kj] {
    flex: 3;
}

.table-cell:last-child[b-35t7xfl2kj] {
    border-right: 0;
}
/* _content/AP.WebApp/Sections/Pages/Admin/Components/InventoryComponents/InventoryTable.razor.rz.scp.css */
/* ---------------- Products Table ---------------- */
.inventory-table[b-388geemlwb] {
    margin: 1rem 0;
    border-radius: 0.25rem;
}

.table-row[b-388geemlwb] {
    display: flex;
    padding: 0.25rem;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.table-cell[b-388geemlwb] {
    padding: 0.75rem;
    font-weight: 700;
    text-align: center;
    flex: 1;
}

.table-cell:nth-child(2)[b-388geemlwb] {
    flex: 3;
}

.table-cell:last-child[b-388geemlwb] {
    border-right: 0;
}
/* _content/AP.WebApp/Sections/Pages/Admin/Components/InventoryComponents/InventoryTableSelectable.razor.rz.scp.css */
.tables-container[b-vcaccvboay] {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
}

.inventory-table[b-vcaccvboay] {
    background-color: #fff;
    flex: 1;
}

.row[b-vcaccvboay] {
    width: 100%;
    display: flex;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.row:hover[b-vcaccvboay] {
    background-color: aliceblue;
}

.row:first-child[b-vcaccvboay] {
    background-color: red;
}

.row:first-child[b-vcaccvboay], 
.row:nth-child(2)[b-vcaccvboay] {
    font-weight: 700;
    background-color: #eee;
}

.row:last-child[b-vcaccvboay] {
    border-bottom: 1px solid black;
}

.cell[b-vcaccvboay] {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.cell:nth-child(2)[b-vcaccvboay] {
    flex: 3;
}

.cell button[b-vcaccvboay] {
    text-decoration: underline;
}


.cell input[b-vcaccvboay] {
    width: 3rem;
}
/* _content/AP.WebApp/Sections/Pages/Admin/Components/ProductComponents/ProductListItem.razor.rz.scp.css */
.table-row[b-vnry7o1d83] {
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.table-cell[b-vnry7o1d83] {
    padding: 0.75rem;
    font-weight: 500;
    text-align: center;
    flex: 1;

}

.table-cell:nth-child(2)[b-vnry7o1d83] {
    flex: 3;
}

.table-cell:last-child[b-vnry7o1d83] {
    border-right: 0;
}
/* _content/AP.WebApp/Sections/Pages/Admin/Components/ProductComponents/ProductTable.razor.rz.scp.css */
/* ---------------- Products Table ---------------- */
.product-table[b-2ce8kj4ies] {
    margin: 1rem 0;
    border-radius: 0.25rem;
}

.table-row[b-2ce8kj4ies] {
    display: flex;
    padding: 0.25rem;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.table-cell[b-2ce8kj4ies] {
    padding: 0.75rem;
    font-weight: 700;
    text-align: center;
    flex: 1;
}

.table-cell:nth-child(2)[b-2ce8kj4ies] {
    flex: 3;
}

.table-cell:last-child[b-2ce8kj4ies] {
    border-right: 0;
}
/* _content/AP.WebApp/Sections/Pages/Admin/Components/SearchComponents/SearchComponent.razor.rz.scp.css */
.search-container[b-m5t5yq58a8] {
    width: 100%;
    display: flex;
    margin: 1rem 0;
}

[b-m5t5yq58a8] .text-input {
    padding: 0.5rem;
    width: 100%;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid black;
    border-right: none;

}

.search-container button[b-m5t5yq58a8] {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid black;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--tea-green);
    display: flex;
    justify-content: center;
    align-items: center;
}


.search-container button img[b-m5t5yq58a8] {
    max-width: 1rem;
}

/* _content/AP.WebApp/Sections/Pages/Admin/Components/SearchComponents/SearchProductInventories.razor.rz.scp.css */
/* --------------- SEARCH BAR --------------- */
.search-container[b-qav5eth2qq] {
    display: flex;
    width: 100%;
}

.search-container .text-input[b-qav5eth2qq] {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 0;
}

.search-container button[b-qav5eth2qq] {
    background-color: var(--tea-green);
    width: 2.5rem;
    border-radius: 0.25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.search-container button img[b-qav5eth2qq] {
    width: 1.5rem;
}

/* --------------- INVENTORIES DIV --------------- */
.inventories-container[b-qav5eth2qq] {
    background-color: #fff;
    box-shadow: 4px 2px 10px 2px rgba(0,0,0,0.2);
    overflow-y: scroll;
    max-height: 300px;
    width: calc(100% - 2.5rem);
}

.row[b-qav5eth2qq] {
    display: flex;
}

.row:hover[b-qav5eth2qq] {
    background-color: aliceblue;
}

.cell[b-qav5eth2qq] {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.cell button:hover[b-qav5eth2qq] {
    cursor: pointer;
}
/* _content/AP.WebApp/Sections/Pages/Admin/Dashboard/DashboardComponent.razor.rz.scp.css */
.inner-container[b-jje01w0sz3] {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* _content/AP.WebApp/Sections/Pages/Admin/Inventories/AddInventory/AddInventory.razor.rz.scp.css */
.inner-container[b-yzyo4i61op] {
    height: 100%;
}

.title-container[b-yzyo4i61op] {
    padding: 1.4rem 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.title-container h1[b-yzyo4i61op] {
    font-size: 1rem;
}

.form-container[b-yzyo4i61op] {
    padding: 1rem 2rem;
    width: 50%;
}

.form-item[b-yzyo4i61op] {
    margin-bottom: 1rem;
}

.form-item label[b-yzyo4i61op] {
    margin-bottom: 0.5rem;
}


.button-container button[b-yzyo4i61op] {
    background-color: var(--tea-green);
    padding: 0.7rem;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    border: none;
}   

.button-container a[b-yzyo4i61op] {
    text-decoration: underline;
    color: black;
}
/* _content/AP.WebApp/Sections/Pages/Admin/Inventories/EditInventory/EditInventoryComponent.razor.rz.scp.css */
.inner-container[b-6iuwbdrkdf] {
    height: 100%;
}

.title-container[b-6iuwbdrkdf] {
    padding: 1.4rem 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.title-container h1[b-6iuwbdrkdf] {
    font-size: 1rem;
}

.form-container[b-6iuwbdrkdf] {
    padding: 1rem 2rem;
    width: 50%;
}

.form-item[b-6iuwbdrkdf] {
    margin-bottom: 1rem;
}

.form-item label[b-6iuwbdrkdf] {
    margin-bottom: 0.5rem;
}

.button-container[b-6iuwbdrkdf] {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.button-container button[b-6iuwbdrkdf] {
    background-color: var(--tea-green);
    padding: 0.7rem;
    border-radius: 0.25rem;
    border: none;
}   

.button-container a[b-6iuwbdrkdf] {
    text-decoration: underline;
    color: black;
}
/* _content/AP.WebApp/Sections/Pages/Admin/Inventories/PurchaseIntentories/PurchaseInventory.razor.rz.scp.css */
.inner-container[b-unnu0gruqj] {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title-container[b-unnu0gruqj] {
    border-bottom: 1px solid rgb(0,0,0);
}

.title-container h1[b-unnu0gruqj] {
    padding: 1.4rem 1rem;
    font-weight: 700;
}

.content-container[b-unnu0gruqj] {
    flex: 1;
    padding: 1rem;
}

.form-group[b-unnu0gruqj] {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 50%;
}

.form-group label[b-unnu0gruqj] {
    margin-bottom: 0.25rem;
}

.form-group[b-unnu0gruqj]  input {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid black;
}
 
.button-container[b-unnu0gruqj] {
    padding: 1rem 0;
}


.button-container button[b-unnu0gruqj] {
    background-color: var(--tea-green);
    padding: 0.75rem;
    border-radius: 0.25rem;
}

/* _content/AP.WebApp/Sections/Pages/Admin/Inventories/ViewInventories/ViewInventoriesByName.razor.rz.scp.css */
/* ---------------- Container Styles ---------------- */
.inner-container[b-u7qb19299c] {
    flex: 1;    
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page-title-container[b-u7qb19299c] {
    width: 100%;
    padding: 1.4rem 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.page-title-container h1[b-u7qb19299c] {
    font-size: 1rem;
    color: #111;
}

.page-description-container[b-u7qb19299c] {
    flex: 1;
    padding: 1rem 6rem 1rem 2rem;
}

.search-container[b-u7qb19299c] {
    width: 100%;
    display: flex;
}


.search-container img[b-u7qb19299c] {
    max-width: 1rem;
}


/* ---------------- Add Item Button ---------------- */
.add-item-button-container[b-u7qb19299c] {
    width: 100%;
    display: flex;
    padding: 1rem 0;
}

.add-item-button-container button[b-u7qb19299c] {
    padding: 0.75rem;
    background-color: var(--tea-green);
    border-radius: 0.25rem;
    border: none;
}

.add-item-button-container button a[b-u7qb19299c] {
    text-decoration: none;
    font-weight: 500;
    color: var(--van-dyke);
}

/* _content/AP.WebApp/Sections/Pages/Admin/Products/AddProducts/AddProductComponent.razor.rz.scp.css */
.inner-container[b-j1cm01ytpa] {
    height: 100%;
}

.title-container[b-j1cm01ytpa] {
    padding: 1.4rem 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.title-container h1[b-j1cm01ytpa] {
    font-size: 1rem;
}

.form-container[b-j1cm01ytpa] {
    padding: 1rem 2rem;
    width: 50%;
    background-color: #eee;
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0.5rem;
}

.form-item[b-j1cm01ytpa] {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.form-item label[b-j1cm01ytpa] {
    margin: 0.5rem 0 0.25rem 0;
}

.form-item[b-j1cm01ytpa]  input {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid rgba(0,0,0,0.2);
}


.button-container button[b-j1cm01ytpa] {
    background-color: var(--tea-green);
    padding: 0.7rem;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    border: none;
}   

.button-container a[b-j1cm01ytpa] {
    text-decoration: underline;
    color: black;
}
/* _content/AP.WebApp/Sections/Pages/Admin/Products/AddProducts/AddProductInventories.razor.rz.scp.css */
.product-inventories-container[b-tl7mhwqt8j] {
    padding: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0.25rem;
}

.table-container[b-tl7mhwqt8j] {
    margin: 1rem 0;
    border-radius: 0.25rem;
    border: 1px solid rgba(0,0,0,0.2);
}

.row[b-tl7mhwqt8j] {
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.row:first-child[b-tl7mhwqt8j] {
    font-weight: 700;
}

.cell[b-tl7mhwqt8j] {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    max-height: 2.5rem;
    min-height: 2.5rem;
}

.cell:first-child[b-tl7mhwqt8j] {
    justify-content: unset;
}

.cell input[b-tl7mhwqt8j] {
    width: 3rem;
}

/* _content/AP.WebApp/Sections/Pages/Admin/Products/CreateProduct/CreateProduct.razor.rz.scp.css */
.inner-container[b-ykgrlhnwu2] {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title-container[b-ykgrlhnwu2] {
    border-bottom: 1px solid rgb(0,0,0);
}

.title-container h1[b-ykgrlhnwu2] {
    padding: 1.4rem 1rem;
    font-weight: 700;
}

.content-container[b-ykgrlhnwu2] {
    flex: 1;
    padding: 1rem;
}

.form-group[b-ykgrlhnwu2] {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 50%;
}

.form-group label[b-ykgrlhnwu2] {
    margin-bottom: 0.25rem;
}

.form-group[b-ykgrlhnwu2]  input {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid black;
}
 
.button-container[b-ykgrlhnwu2] {
    padding: 1rem 0;
}


.button-container button[b-ykgrlhnwu2] {
    background-color: var(--tea-green);
    padding: 0.75rem;
    border-radius: 0.25rem;
}

/* _content/AP.WebApp/Sections/Pages/Admin/Products/EditProducts/EditProductComponent.razor.rz.scp.css */
.inner-container[b-v8m8nnl2az] {
    height: 100%;
}

.title-container[b-v8m8nnl2az] {
    padding: 1.4rem 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.title-container h1[b-v8m8nnl2az] {
    font-size: 1rem;
}

.form-container[b-v8m8nnl2az] {
    padding: 1rem 2rem;
    width: 50%;
    background-color: #eee;
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0.5rem;
}

.form-item[b-v8m8nnl2az] {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.form-item label[b-v8m8nnl2az] {
    margin: 0.5rem 0 0.25rem 0;
}

.form-item[b-v8m8nnl2az]  input {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid rgba(0,0,0,0.2);
}


.button-container button[b-v8m8nnl2az] {
    background-color: var(--tea-green);
    padding: 0.7rem;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    border: none;
}   

.button-container a[b-v8m8nnl2az] {
    text-decoration: underline;
    color: black;
}
/* _content/AP.WebApp/Sections/Pages/Admin/Products/SellProducts/SellProduct.razor.rz.scp.css */
.inner-container[b-9r6xx97tzq] {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title-container[b-9r6xx97tzq] {
    border-bottom: 1px solid rgb(0,0,0);
}

.title-container h1[b-9r6xx97tzq] {
    padding: 1.4rem 1rem;
    font-weight: 700;
}

.content-container[b-9r6xx97tzq] {
    flex: 1;
    padding: 1rem;
}

.form-group[b-9r6xx97tzq] {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 50%;
}

.form-group label[b-9r6xx97tzq] {
    margin-bottom: 0.25rem;
}

.form-group[b-9r6xx97tzq]  input {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid black;
}
 
.button-container[b-9r6xx97tzq] {
    padding: 1rem 0;
}


.button-container button[b-9r6xx97tzq] {
    background-color: var(--tea-green);
    padding: 0.75rem;
    border-radius: 0.25rem;
}

/* _content/AP.WebApp/Sections/Pages/Admin/Products/ViewProducts/ProductListComponent.razor.rz.scp.css */
/* ---------------- Container Styles ---------------- */
.inner-container[b-wjr73qdue1] {
    flex: 1;    
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page-title-container[b-wjr73qdue1] {
    width: 100%;
    padding: 1.4rem 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.page-title-container h1[b-wjr73qdue1] {
    font-size: 1rem;
    color: #111;
}

.page-description-container[b-wjr73qdue1] {
    flex: 1;
    padding: 1rem 6rem 1rem 2rem;
}

.search-container[b-wjr73qdue1] {
    width: 100%;
    display: flex;
}


.search-container img[b-wjr73qdue1] {
    max-width: 1rem;
}


/* ---------------- Add Item Button ---------------- */
.add-item-button-container[b-wjr73qdue1] {
    width: 100%;
    display: flex;
    padding: 1rem 0;
}

.add-item-button-container button[b-wjr73qdue1] {
    padding: 0.75rem;
    background-color: var(--tea-green);
    border-radius: 0.25rem;
    border: none;
}

.add-item-button-container button a[b-wjr73qdue1] {
    text-decoration: none;
    font-weight: 500;
    color: var(--van-dyke);
}

/* _content/AP.WebApp/Sections/Pages/Admin/Settings/SettingsComponent.razor.rz.scp.css */
.inner-container[b-wro0d6axnc] {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* _content/AP.WebApp/Sections/Pages/Main/Home/Home.razor.rz.scp.css */
.page-container[b-z0o8eo8ltp] {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container[b-z0o8eo8ltp] {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}


#blazor-error-ui[b-z0o8eo8ltp] {
    display: none;
}
/* _content/AP.WebApp/Sections/Pages/Main/Home/NavMenu.razor.rz.scp.css */
.header-container[b-8rwr92vkox] {
    background-color: var(--tea-green);
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;
    align-items: center;
    background-color: #fff;
}

.logo-container[b-8rwr92vkox] {
    margin-right: 2rem;
}

.logo-container img[b-8rwr92vkox] {
    max-height: 6rem;
}

.search-container[b-8rwr92vkox] {
    flex: 5;
    display: flex;
}

.search-container input[b-8rwr92vkox] {
    width: calc(100% - 2rem);  
    padding: 0 1rem; 
    height: 3rem;
    border: none;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 1rem;
}

.search-container button[b-8rwr92vkox] {
    width: 3rem;
    height: 3rem;
    background-color: var(--tea-green);
    border: none;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.search-container img[b-8rwr92vkox] {
    max-width: 1.4rem;
    max-height: 1.4rem;
}

.nav-container[b-8rwr92vkox] {
    display: flex;
}

.nav-container img[b-8rwr92vkox] {
    max-width: 1.4rem;
    max-height: 1.4rem;
    margin-left: 1rem;
}
